@import url("https://fonts.googleapis.com/css?family=Raleway:100,300,400,500,700");
/* line 5, ../../resources/assets/sass/auth.scss */
.auth-label {
  font-family: "Raleway", sans-serif;
  font-size: 0.75rem;
  text-transform: uppercase; }

/* line 11, ../../resources/assets/sass/auth.scss */
body {
  background: #efefef !important; }

/* line 15, ../../resources/assets/sass/auth.scss */
.btn-link {
  color: #1b1b1b !important; }

/* line 19, ../../resources/assets/sass/auth.scss */
.btn-orange {
  background: #ff800f;
  color: #FFFFFF;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease; }
  /* line 25, ../../resources/assets/sass/auth.scss */
  .btn-orange:active, .btn-orange:focus, .btn-orange:hover, .btn-orange:visited {
    box-shadow: 0px 5px 20px 0px rgba(255, 128, 15, 0.5);
    transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
    -o-transition: 0.3s ease; }

/* line 35, ../../resources/assets/sass/auth.scss */
.btn-pill {
  padding: 20px 50px;
  border-radius: 50px;
  font-family: "Raleway", sans-serif;
  font-size: 0.75rem;
  font-weight: 700;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  word-spacing: 2.5px; }

/* line 47, ../../resources/assets/sass/auth.scss */
.card-auth {
  border: none;
  border-radius: 0px;
  box-shadow: 0px 5px 5px -5px rgba(0, 0, 0, 0.5); }
  /* line 52, ../../resources/assets/sass/auth.scss */
  .card-auth .card-auth-body {
    padding: 50px 20px 50px 20px; }
    /* line 55, ../../resources/assets/sass/auth.scss */
    .card-auth .card-auth-body .form-control {
      overflow: hidden;
      padding: 10px 0px 5px 0px;
      resize: none;
      white-space: nowrap;
      background: transparent;
      border: none;
      border-radius: 0px;
      box-shadow: inset 0px -1px 0px 0px rgba(0, 0, 0, 0.1); }
      /* line 66, ../../resources/assets/sass/auth.scss */
      .card-auth .card-auth-body .form-control.is-invalid {
        box-shadow: inset 0px -2px 0px 0px #ff4641; }
      /* line 70, ../../resources/assets/sass/auth.scss */
      .card-auth .card-auth-body .form-control:focus {
        box-shadow: inset 0px -2px 0px 0px #f6993f !important; }
      /* line 73, ../../resources/assets/sass/auth.scss */
      .card-auth .card-auth-body .form-control:-webkit-autofill {
        transition: background-color 999999s ease-in-out 0s;
        -webkit-text-fill-color: #1b1b1b !important; }
  /* line 81, ../../resources/assets/sass/auth.scss */
  .card-auth .card-auth-btn {
    margin-top: 20px;
    position: absolute;
    width: 96.5%; }

/* line 88, ../../resources/assets/sass/auth.scss */
.img-brand {
  margin-bottom: 50px;
  margin-top: 80px;
  width: 380px; }

/* line 94, ../../resources/assets/sass/auth.scss */
.label-float {
  left: 15px;
  margin-top: 13px;
  position: absolute;
  font-family: "Raleway", sans-serif;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease; }
  /* line 103, ../../resources/assets/sass/auth.scss */
  .label-float.lift {
    margin-top: -10px;
    font-size: 0.5rem;
    transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
    -o-transition: 0.3s ease; }

/* line 112, ../../resources/assets/sass/auth.scss */
.navbar-laravel {
  display: none; }

/* line 116, ../../resources/assets/sass/auth.scss */
.paddless {
  padding: 0 !important; }

@media (max-width: 767px) {
  /* line 121, ../../resources/assets/sass/auth.scss */
  .img-brand {
    width: 75vw; } }
