.btn {
  color: #ffffff !important;
}
.btn.btn-circle {
  border-radius: 100%;
}
.btn.btn-link {
  color: #343a40 !important;
}
.btn.btn-orange {
  background: #f6993f;
}
.btn.btn-xsm {
  height: 20px;
  line-height: 1.75;
  padding: 0;
  text-align: center;
  vertical-align: middle;
  width: 20px;
  font-size: 0.75rem;
}

.toggle {
  position: relative;
}
.toggle input {
  height: 0px;
  left: 20px;
  position: absolute;
  top: 5px;
  width: 0px;
  background: none;
  border: 0;
}
.toggle input + label {
  color: transparent;
  font-size: 20px;
  user-select: none;
}
.toggle input + label::before {
  content: '';
  height: 20px;
  position: absolute;
  left: 10px;
  width: 20px;
  z-index: 19;
  background: #6c757d;
  border-radius: 20px;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
}
.toggle input + label::after {
  content: '';
  height: 20px;
  margin-top: 0px;
  position: absolute;
  right: 0;
  width: 50px;
  z-index: 9;
  background: #eaeaea;
  border-radius: 10px;
}
.toggle input:checked + label::before {
  content: '';
  margin-left: 30px;
  background: #f6993f;
  box-shadow: 0px 0px 5px 2.5px rgba(246, 153, 63, 0.5);
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
}

.dropdown .dropdown-menu .dropdown-item:active {
  background: #f6993f !important;
}

.form-control:focus {
  border-color: #f6993f6e !important;
  box-shadow: 0 0 0 0.2rem rgba(246, 153, 63, 0.3) !important;
}

.select2-container .select2-selection--single {
  height: auto !important;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background: #f6993f !important;
}
.select2-container--default .select2-search__field:focus {
  outline: none !important;
}
.select2-container--default .select2-selection--single {
  border: 1px solid #ced4da !important;
}
.select2-container--default .select2-selection--single:focus {
  outline: none !important;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 38px !important;
  right: 5px !important;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
  padding: 5px 12px !important;
  color: #495057 !important;
}
.select2-container--default .select2-selection--multiple {
  border: 1px solid #ced4da !important;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice {
  background: #f6993f !important;
  border: 1px solid #f6993f !important;
  color: #FFFFFF !important;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice .select2-selection__choice__remove {
  margin-right: 5px !important;
  color: #FFFFFF !important;
}

::selection {
  background: #f6993f;
  color: #FFFFFF;
}

::-moz-selection {
  background: #f6993f;
  color: #FFFFFF;
}

@media (min-width: 768px) {
  #main-navbar {
    padding: 0px;
  }
  #main-navbar .navbar-brand {
    padding: 1.15rem 0rem;
  }
  #main-navbar .navbar-brand img {
    height: 30px;
    margin-left: 20px;
  }
  #main-navbar #top-nav ul li.nav-item a.nav-link {
    padding: 1.5rem;
    color: rgba(0, 0, 0, 0.5);
    font-size: 0.75rem;
    font-weight: 300;
    text-transform: uppercase;
    transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
    -o-transition: 0.3s ease;
  }
  #main-navbar #top-nav ul li.nav-item a.nav-link:not([data-toggle="dropdown"]):not(.active):hover {
    color: black;
    transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
    -o-transition: 0.3s ease;
  }
  #main-navbar #top-nav ul li.nav-item a.nav-link.active {
    box-shadow: inset 0px -5px 0px 0px #f6993f;
    color: black;
    font-weight: 700;
    transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
    -o-transition: 0.3s ease;
  }
}
@media (max-width: 767px) {
  #main-navbar .navbar-brand {
    left: calc(50% - 22.5vw);
    position: relative;
  }
  #main-navbar .navbar-brand img {
    width: 45vw;
  }
}
