img.header-call {
    border-radius: 4px;
    padding: 5px 2px;
    width: 23px !important;
}

.skype-container {
    margin-top: 10px !important;
}


.skype-container.skype-chat.skype {
    margin-top: 3px !important;
}

i.fab.fa-skype {
    font-size: 23px !important;
    margin-top: 5px;
}

.header-logo-link {
    float: left;
    display: block;
    margin-top: 15px;
    width: 220px;
    height: 50px;
    background-size: 100%;
}

