/*!
 * Start Bootstrap - New Age v5.0.0 (https://startbootstrap.com/template-overviews/new-age)
 * Copyright 2013-2018 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-new-age/blob/master/LICENSE)
 */

@font-face {
  font-family: "Futura-CondensedMedium";
  src: url("fonts/Futura-CondensedMedium.ttf");
}

@font-face {
  font-family: "open-sans-regular";
  src: url("fonts/OpenSans-Regular.ttf");
}
@font-face {
  font-family: "monserat";
  src: url("fonts/Montserrat-Regular.otf");
}
@font-face {
  font-family: "myriad-pro";
  src: url("fonts/Myriad Pro Regular.ttf");
}


html,
body {
  width: 100%;
  height: 100%;
}

hr.light {
  border-color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 200;
  letter-spacing: 1px;
}

p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
}

section {
  padding: 100px 0;
}

section h2 {
  font-size: 50px;
}

#mainNav .navbar-toggler {
  font-size: 12px;
  padding: 8px 10px;
  color: #222222;
}

header.masthead {
  position: relative;
  width: 100%;
  color: white;
  background: url(../assets/banner/banner1.png) no-repeat 0px 32%;
  background-repeat: no-repeat;
  background-size: cover;
}

header.masthead .header-content h1 {
  font-size: 30px;
}

header.masthead .device-container {
  max-width: 325px;
  margin-right: auto;
  margin-left: auto;
}

header.masthead .device-container .screen img {
  border-radius: 3px;
}

@media (min-width: 992px) {
  header.masthead {
    padding-top: 0;
    padding-bottom: 0;
    z-index: 0;
  }
  header.masthead .header-content {
    margin-bottom: 0;
    text-align: left;
  }
  header.masthead .header-content h1 {
    font-size: 50px;
  }
  header.masthead .device-container {
    max-width: 325px;
  }
}

section.download {
  position: relative;
  padding: 150px 0;
}

section.download h2 {
  font-size: 50px;
  margin-top: 0;
}

section.download .badges .badge-link {
  display: block;
  margin-bottom: 25px;
}

section.download .badges .badge-link:last-child {
  margin-bottom: 0;
}

section.download .badges .badge-link img {
  height: 60px;
}

@media (min-width: 768px) {
  section.download .badges .badge-link {
    display: inline-block;
    margin-bottom: 0;
  }
}

@media (min-width: 768px) {
  section.download h2 {
    font-size: 70px;
  }
}

section.features .section-heading {
  margin-bottom: 100px;
}

section.features .section-heading h2 {
  margin-top: 0;
}

section.features .section-heading p {
  margin-bottom: 0;
}

section.features .device-container,
section.features .feature-item {
  max-width: 325px;
  margin: 0 auto;
}

section.features .device-container {
  margin-bottom: 100px;
}

@media (min-width: 992px) {
  section.features .device-container {
    margin-bottom: 0;
  }
  a.navbar-brand {
    margin-left: -15px;
  }
}

section.features .feature-item {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}

section.features .feature-item h3 {
  font-size: 30px;
}

section.features .feature-item i {
  font-size: 80px;
  display: block;
  margin-bottom: 15px;
  background: -webkit-gradient(linear, right top, left top, from(#7b4397), to(#dc2430));
  background: linear-gradient(to left, #7b4397, #dc2430);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

section.cta {
  position: relative;
  padding: 250px 0;
  background-image: url("../img/bg-cta.jpg");
  background-position: center;
  background-size: cover;
}

section.cta .cta-content {
  position: relative;
  z-index: 1;
}

section.cta .cta-content h2 {
  font-size: 50px;
  max-width: 450px;
  margin-top: 0;
  margin-bottom: 25px;
  color: white;
}

@media (min-width: 768px) {
  section.cta .cta-content h2 {
    font-size: 80px;
  }
}

section.cta .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

section.contact {
  text-align: center;
}

section.contact h2 {
  margin-top: 0;
  margin-bottom: 25px;
}

section.contact h2 i {
  color: #dd4b39;
}

section.contact ul.list-social {
  margin-bottom: 0;
}

section.contact ul.list-social li a {
  font-size: 40px;
  line-height: 80px;
  display: block;
  width: 80px;
  height: 80px;
  color: white;
  border-radius: 100%;
}

section.contact ul.list-social li.social-twitter a {
  background-color: #1da1f2;
}

section.contact ul.list-social li.social-twitter a:hover {
  background-color: #0d95e8;
}

section.contact ul.list-social li.social-facebook a {
  background-color: #3b5998;
}

section.contact ul.list-social li.social-facebook a:hover {
  background-color: #344e86;
}

section.contact ul.list-social li.social-google-plus a {
  background-color: #dd4b39;
}

section.contact ul.list-social li.social-google-plus a:hover {
  background-color: #d73925;
}

footer {
  padding: 25px 0;
  text-align: center;
  color: rgba(255, 255, 255, 0.3);
  background-color: #222222;
}

footer p {
  font-size: 12px;
  margin: 0;
}

footer ul {
  margin-bottom: 0;
}

footer ul li a {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.3);
}

footer ul li a:hover, footer ul li a:focus, footer ul li a:active, footer ul li a.active {
  text-decoration: none;
}

.bg-primary {
  background: #fdcc52;
  background: -webkit-gradient(linear, left top, left bottom, from(#fdcc52), to(#fdc539));
  background: linear-gradient(#fdcc52, #fdc539);
}

.text-primary {
  color: #fdcc52;
}

.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}

.btn-outline {
  color: white;
  border: 1px solid;
  border-color: white;
  margin-left: 0px;
  margin-right: 0px;
}

.btn-outline:hover, .btn-outline:focus, .btn-outline:active, .btn-outline.active {
  color: white;
  border-color: #fdcc52;
  background-color: #fdcc52;
}

.btn {
  border-radius: 300px;
  font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
  letter-spacing: 2px;
  text-transform: uppercase;
}

.btn-xl {
  font-size: 11px;
  padding: 15px 45px;
}

nav#mainNav2 {
  color: #333333 !important;
  z-index: 999;
}

#blue_div{
  background-color: #002366;
  color: #ffffff;
  height: 220px !important;
  margin-left: -15px !important;
  margin-right: -15px !important;
}

a.btn.btn-outline.btn-xl.js-scroll-trigger {
  background: url(../assets/button-background.png);
  background-repeat: no-repeat;
  min-height: 40px;
  background-size: 100% 100%;
}


.content-why-choose-icons{
margin-top: 20px;
margin-bottom: 20px;
}


#blue_footer_div{
  background-color: #002366;
  color: #ffffff;
  height: 300px;
  width: 100%;
  padding-top: 50px;
}


a.nav-link {
  color: #002366 !important;
}
a.nav-link.header1{
  font-size: 18px;
  font-family: "monserat" !important;
  color: #002366 !important;
}

a.nav-link.header2 {
  font-family: "open-sans-regular" !important;
  font-size: 16px;
  color: #333333 !important;
}

img.header-icon {
  padding-right: 6px;
  margin-top: -4px;
}

@media (min-width: 992px){
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1.25rem;
    padding-left: 1.25rem;
  }
}

.container-fluid {
  width: 100%;
   padding-right: -15px !important;
  padding-left: -15px !important;;
  margin-right: auto;
  margin-left: auto;
}
html{
  overflow-x: hidden;
  scroll-behavior: smooth;

}

img.img-footer-accepted-payment {
  width: 85px;
}

.main-description {
  font-family: "myriad-pro";
  font-size: 20px;
}

header.masthead .header-content h1 {
  font-size: 50px;
}

nav#mainNav {
  z-index: 9;
}

a.btn.btn-outline.btn-xl.js-scroll-trigger {
  background: url(../assets/button-background.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  text-align: -webkit-center;
  font-size: 14pt;
  font-family: "Futura-CondensedMedium";
  padding: 15px;
 }

.mb-5, .my-5 {
  margin-bottom: 1rem !important;
}

.main-description {
  color: #033333;
}

.offset-sm-0.offset-lg-3.col-lg-7.col-md-9.col-sm-9.my-auto {
  margin-top: 23% !important;
}
.h-100 {
   height: 80% !important;
}

.main-footer-like {
  vertical-align: middle;
  font-size: 90pt;
  text-shadow: 3px 3px 3px #4169E1;
}

.text-footer-like-container{
font-family: 'Futura-CondensedMedium';
  font-size: 20px !important;
  color: white;
  margin-right: 10px;
}
.line-separator-footer-like{
  vertical-align: middle;
  font-size: 50pt;
  border-left: 3px solid white;
  height: 130px !important;
  margin-left: 10px;
  margin-right: 10px;
}
.main-footer-like-description{
   vertical-align:middle;
  margin-top:5px;
  font-family: "open-sans-regular";
  color:white;
 }

.main-footer-like-title{
  font-family: 'Futura-CondensedMedium';
  color:white;
  font-size: 20pt;
}

.container.text-center {
  padding-top: 25px;
}


.main-footer-container{
  margin-left: 10%;
}

.content-titles{
  color:#002366;
  font-family: Futura-CondensedMedium;
  font-size: 32pt;
}

#main-why-choose-us{
  margin-top: 70px;
  margin-bottom: 70px;
}

.content-why-choose-icons{
  font-family: "Futura-CondensedMedium";
  font-size: 18pt;
}
.content-why-choose-text{
  margin-top: 10px;
}

.footer-title{
  color:#febd00;
  font-size: 15pt;
font-family: "open-sans-regular";
}

.footer-title {
  border-bottom: #4a3b94 solid 1px;
  text-transform: uppercase;
}

.footer-c {
  color: white;
  font-family: "myriad-pro";
  font-size: 12pt;

  width: 100%;
  background: #002366;
  z-index: 999999;

  padding-bottom: 20px;
}
.footer{
  background: #002366;
}


#footer1 {
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 100%;
  height: 450px;
}

.hr-footer{
background-color : white;
}


.footer-links > ul {
  font-family: "open-sans-regular";
  margin-top: 20px;
  font-size: 12pt;
  margin-left: 0;
  padding-left: 0;
  list-style-type: none;
}

.footer-links {
  font-family: "open-sans-regular";
  font-size: 12pt;
  color: white;
}


.footer-links > ul li {
  position: relative;
  margin-top: 10px;
  margin-left: 1em;
}

.footer-links > ul li:before {
  position: absolute;
  left: -1em;
  content: ">";
}

.links-payment {
  margin-top: 25px;
  padding-bottom: 30px;
}

.input-group-addon{
  background-color: white;
  padding-top:10px;
  padding-right:10px;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}
#email_subscribe{
  border: white solid 1px !important;
}

.footer-subscribe {
  padding-top: 20px;
}

/*PROMOTION*/
#main-promotions-container, #main-terms-container, #main-about-container, .main-contact-us-container{
  min-height:500px;
  margin-bottom: 100px;
  margin-top: 90px;
}
.promotion-title{
  font-family: Futura-CondensedMedium;
  font-size: 18pt;
}
.promotion-description{
  font-family: "open-sans-regular";
  font-size: 13pt;
  margin-top: 15px;
}
.img-promotion{
  vertical-align: top !important;
  display: inline-block;
  height: 100%;
}
.promotion-row{
  border-bottom: solid 1px #ebebeb;
  margin-bottom: 50px;
  padding-bottom: 50px;

}


/*terms*/

.terms-description,.about-description{

  font-family: "open-sans-regular";
  font-size: 15pt;
  color: #333333;
}
.terms-title,.about-title{
  font-family: Futura-CondensedMedium;
  font-size: 24pt;
  color: #333333;
}
div#navbar-Responsive{
  margin-right: 10%;
}

.h-100 {
  height: 80vh !important;

}

.dashboard-points{
  text-shadow: 3px 4px 2px #000000;
  font-size: 75pt;
  font-family: Futura-CondensedMedium;
  text-align: center !important;
  margin: auto; /* Important */
  text-align: center;
  color: #f3b013;


  -webkit-text-stroke-width: 5px;
  -webkit-text-stroke-color: #002366;
}
.dashboard-points-available{
  text-shadow: 3px 4px 2px #000000;
  font-size: 40pt;
  font-family: Futura-CondensedMedium;
  text-align: center !important;
  margin: auto; /* Important */
  text-align: center;
  color: #f3b013;

  -webkit-text-stroke-width: 2.5px;
  -webkit-text-stroke-color: #002366;
}

header.masthead {
  min-height: 320px;
  background-size: 100% 100% !important;
}

.main-contact-us-title{
  font-family: "open-sans-regular";
  font-size: 16pt;
}
#main-contact-us-container{
  margin-top: 100px;
  margin-bottom: 100px;
}
.contactus-text{
  font-size: 15pt;
  font-family: Futura-CondensedMedium;
}
.contact-icon{
  margin-right: 20px;
  width: 50px;
  height: 50px;
}


p.dashboard-points {
  line-height: 1;
  padding-top: 90px;
  z-index: 9999;
}

#main-dashboard-container{
  min-height: 550px;
  background-color: #002366;
  margin-top: -54px;

  height: max-content;


}


.dashboard-tab-link{
font-family: Futura-CondensedMedium;
  font-size: 18pt;

}

a.nav-link.dashboard-tab-link {
  background-color: #ffffff;
  width: 172px;
  text-align: center;
  border: solid 1px white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  -webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.2);
  box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.2);
}

a.nav-link.dashboard-tab-link.active {
  background-color: #002366;
  color: white !important;
  border-bottom: solid 1px #002366;
}


.card-body-product{
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  margin-top: -80px;
  background-color: rgba(0, 0, 0, .8);
  color: white;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;

}
.card-product {
  border: none !important;
  border-radius: 0px !important;;
  margin-bottom: 5px;
}


.card-title-product{
  font-family: Futura-CondensedMedium;
  font-size: 28pt;
  margin-bottom: 5px !important;
}

.card-product-redeemed{
  font-family: Futura-CondensedMedium;
  font-size: 28pt;
  color:#fbb600;

}

.row-product{
  margin-top: 50px;
  margin-bottom: 50px;
}

a.nav-link.dashboard-tab-link.active {
  text-shadow: 2px 1px 1px #4169e1;
}


.modal-login-header{
  background: #002366;
 font-family: "open-sans-regular";
}

 .modal-header.modal-login-header {

   color: white;
 }


.btn-login{
  background: rgba(242,161,0,1);
  background: -moz-linear-gradient(top, rgba(242,161,0,1) 0%, rgba(255,191,0,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(242,161,0,1)), color-stop(100%, rgba(255,191,0,1)));
  background: -webkit-linear-gradient(top, rgba(242,161,0,1) 0%, rgba(255,191,0,1) 100%);
  background: -o-linear-gradient(top, rgba(242,161,0,1) 0%, rgba(255,191,0,1) 100%);
  background: -ms-linear-gradient(top, rgba(242,161,0,1) 0%, rgba(255,191,0,1) 100%);
  background: linear-gradient(to bottom, rgba(242,161,0,1) 0%, rgba(255,191,0,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2a100', endColorstr='#ffbf00', GradientType=0 );
  font-family: Futura-CondensedMedium;
  font-size: 20pt;
  color:#694900;
  width:125px;
}

a.a-forgot-password {
  float: right;
  font-family: open-sans-regular;
  color: #010015;
}

.login-body{
  font-family: open-sans-regular;
}
.login-text {
background-color: #ececec;
}

.modal {
  text-align: center;
  padding: 0!important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.modal-login-content{
  width: 400px !important;
  height: 357px !important;
}

.login-foot{
  color: #010015;
  font-family: "Open Sans";
}

.a-signup{
  color:#f5a700;
}

.heading-title{
  text-shadow: 8px 8px 10px rgba(0, 0, 0, .5);
  font-size: 89pt;
  font-family: Futura-CondensedMedium;
  margin: auto;
  text-align: left;
  color: #f3b013;
  -webkit-text-stroke-width: 5px;
  -webkit-text-stroke-color: #002366;

}

.dropdown-menu {

  margin-top: 0px;

}

button.btn.btn-login {
  color: white;
}


.footer-links2 > ul li {
  font-family: "open-sans-regular";
  font-size: 12pt;
  color: white;
  position: relative;
  margin-top: 10px;
  margin-left: 0;
  padding-left: 0;
}


.footer-links2 > ul {
  font-family: "open-sans-regular";
  margin-top: 20px;
  font-size: 12pt;
  margin-left: 0;
  padding-left: 20px;
}


.no-left-rounded {
  border-bottom-left-radius: 0 !important;
  border-top-left-radius: 0 !important;
}

.no-right-rounded {
  border-bottom-right-radius: 0 !important;
  border-top-right-radius: 0 !important;
}

.error-subs {
  display: none;
  padding: 0.25rem 0.25rem !important;
  margin-top: .25rem !important;
}