.modal{
	display: none;
	left: 0;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 0;
	z-index: 9999999999;
}

.modal-dialog{
	height: 100vh;
	position: fixed;
	width: 100vw;
	z-index: 99999999999;

	background: rgba(0, 0, 0, 0.925);
}

.modal-content{
	min-height: 300px;
	max-height: 500px;
	min-width: 400px;
	max-width: 600px;
	margin: 0;
	padding: 0;
	position: absolute;
	top: calc(50% - 250px);
	left: calc(50% - 300px);
	z-index: 999999999999;

	background: #FFFFFF;
}
	.modal-content .modal-header,
	.modal-content .modal-body,
	.modal-content .modal-footer{
		padding: 20px;
	}
	.modal-content .modal-header{
		background: #263238;
		box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.3)
	}
	.modal-content .modal-body{
		line-height: 1.45;
		margin-bottom: 20px;
		max-height: 300px;
		overflow-y: scroll;

		font-family: "ProximaNovaRg";
		font-size: 16px;
	}
		.modal-content .modal-header > .modal-title,
		.modal-content .modal-header > .modal-subtext{
			display: block;

			font-family: "ProximaNovaCnBd";
		}
		.modal-content .modal-header > .modal-title{
			color: #FFFFFF;
			font-size: 30px;
			font-weight: bold;
		}
		.modal-content .modal-header > .modal-subtext{
			color: rgba(255, 255, 255, 0.3);
			font-size: 16px;
			font-weight: 300;
		}

	.modal-content .modal-close{
		display: inline-block;

		background: transparent;
		border: none;
		font-family: "ProximaNovaRg";
		font-size: 14px;
		text-transform: uppercase;
	}
		.modal-content .modal-close:active,
		.modal-content .modal-close:focus{
			outline: none;
		}