@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');
@font-face {
  font-family: bebas;
  src: url(fonts/BEBAS.ttf);
}
@font-face {
  font-family: open-sans-regular;
  src: url(fonts/OpenSans-Regular.ttf);
}











/*---Media Queries --*/
@media (max-width: 992px) {

  }
@media (max-width: 768px) {
  
}
@media (max-width: 576px) {
  
}


/*---Firefox Bug Fix --*/
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}
/*--- Fixed Background Image --*/
figure {
  position: relative;
  width: 100%;
  height: 60%;
  margin: 0!important;
}
.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#fixed {
  background-image: url('img/mac.png');
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
}
/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}





/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/

@media (min-width: 768px){
  .navbar-expand-md .navbar-nav .nav-link {
    padding-right: 1rem;
    padding-left: 1rem;
  }
}

#navbarMain
{
  background-color: #c1c1c1 !important;
}
.nav-link{
  font-family: open-sans-regular;
  font-size: 15pt;
  color: #ffffff !important;
}

#btn-login {
  width: 119px;
  /* height: 45px; */
  border-color: white !important;
  padding: 0px;
  margin-top: 6px;
  border-radius: 12px;
  border-width: 2px;
}
div#headerSection{
  height: 100% !important;
  background-color: #c1c1c1;
  min-height: max-content;
}
div#aboutMultiSection{
  height: 100% !important;
  background-color: #e9e7e7;
  min-height: fit-content;
}
div#platformSection{
    padding-top: 5%;
  height: 100% !important;
  background-color: #d8d8d8;
   min-height: fit-content;
}
div#partnersMultiSection{
  padding-top: 5%;
  height: 100% !important;
  background-color: #d3d3d3;
   min-height: fit-content;
}
div#contactMultiSection{
    padding-top: 5%;
  height: 100% !important;
  background-color: #9c9c9c;
   min-height: fit-content;
}

#headerSectionTitle1,#headerSectionTitle2
{
  font-family: bebas !important;
  font-size: 25pt;
  color: #787878;
}
#headerSectionTitle2
{
  line-height: .3;
  font-family: bebas !important;
  font-size: 25pt;
  color: #ffffff;
}

.headerSectionContentTitle
{
  padding-top: 50px;
  color: #787878;
  font-family: bebas !important;
  font-size: 25pt;

}
.headerSectionContentDescription
{
  color: #787878;
  font-family: open-sans-regular !important;
  font-size: 12pt;

}


.white-text{
  color:white !important;
}

.thumb-description
{
  padding-top:8px;
  color: #787878;
  font-family: open-sans-regular !important;
  font-size: 10pt;
  line-height: 1;

}


.h-100 {
  height: 95vh !important;
  min-height: fit-content;
}

.thumb-description2 {
  padding-top:8px;
  color: #787878;
  font-family: open-sans-regular !important;
  font-size: 10pt;
  line-height: 1;

  padding-top: 48px;
  padding-left:10px;
}


.img-thumb2
{

  margin-right:10px;
}

.gray-controls{
  background-color: #c4c4c4;
  border-color: black;
  color:white;
  font-family: open-sans-regular;
}
.label-gray{
  font-family: open-sans-regular;
  color:white;
}

#btn-submit{
  background-color:#828282 ;
  color:white;
  font-family: open-sans-regular !important;
}

#mainfooter {
  height: 50px;
  color: white;
  font-family: open-sans-regular;
  font-size: 13pt;
  background-color: black;
  padding-top: 13px !important;
}
html{
  scroll-behavior: smooth;

}


img.img-fluid.rounded-circle {
  width: 109px;
  height: 109px;
  background: #ffffff;
}


body {
  background-color: #d8d8d8;
}