.btn{
	color: $white !important;

	&.btn-circle{
		border-radius: 100%;
	}

	&.btn-link{
		color: $dark !important;
	}

	&.btn-orange{
		background: $orange;
	}

	&.btn-xsm{
		height: 20px;
		line-height: 1.75;
		padding: 0;
		text-align: center;
		vertical-align: middle;
		width: 20px;

		font-size: 0.75rem;
	}
}