.toggle{
	position: relative;

	input{
		height: 0px;
		left: 20px;
		position: absolute;
		top: 5px;
		width: 0px;

		background: none;
		border: 0;

		& + label{
			color: transparent;
			font-size: 20px;
			user-select: none;
		}

		& + label::before{
			content: '';
			height: 20px;
			position: absolute;
			left: 10px;
			width: 20px;
			z-index: 19;

			background: $gray;
			border-radius: 20px;

			@include transition(0.3s ease);
		}

		& + label::after{
			content: '';
			height: 20px;
			margin-top: 0px;
			position: absolute;
			right: 0;
			width: 50px;
			z-index: 9;

			background: $gray-light;
			border-radius: 10px;
		}

		&:checked + label::before{
			content: '';
			margin-left: 30px;

			background: $orange;
			box-shadow: 0px 0px 5px 2.5px rgba(246, 153, 63, 0.5);

			@include transition(0.3s ease);
		}
	}
}