// color schemes
$orange: #ff800f;

// from app.css
// colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #ff4641;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$white: #ffffff;
$gray: #6c757d;
$gray-dark: #343a40;
$gray-light: #eaeaea;
// color codes
$primary: #3490dc;
$secondary: #6c757d;
$success: #38c172;
$info: #6cb2eb;
$warning: #ffed4a;
$danger: #ff4641;
$light: #f8f9fa;
$dark: #343a40;

// font usage
$fontmain: "Raleway", sans-serif;