@import url('https://fonts.googleapis.com/css?family=Raleway:100,300,400,500,700');
@import 'variables';
@import 'mixins';

.auth-label{
	font-family: $fontmain;
	font-size: 0.75rem;
	text-transform: uppercase;
}

body{
	background: #efefef !important;
}

.btn-link{
	color: #1b1b1b !important;
}

.btn-orange{
	background: #ff800f;
	color: #FFFFFF;

	@include transition(0.3s ease);

	&:active,
	&:focus,
	&:hover,
	&:visited{
		box-shadow: 0px 5px 20px 0px rgba(255, 128, 15, 0.5);

		@include transition(0.3s ease);
	}
}

.btn-pill{
	padding: 20px 50px;

	border-radius: 50px;
	font-family: $fontmain;
	font-size: 0.75rem;
	font-weight: 700;
	letter-spacing: 0.5px;
	text-transform: uppercase;
	word-spacing: 2.5px;
}

.card-auth{
	border: none;
	border-radius: 0px;
	box-shadow: 0px 5px 5px -5px rgba(0, 0, 0, 0.5);

	.card-auth-body{
		padding: 50px 20px 50px 20px;

		.form-control{
			overflow: hidden;
			padding: 10px 0px 5px 0px;
			resize: none;
			white-space: nowrap;

			background: transparent;
			border: none;
			border-radius: 0px;
			box-shadow: inset 0px -1px 0px 0px rgba(0, 0, 0, 0.1);

			&.is-invalid{
				box-shadow: inset 0px -2px 0px 0px $red;
			}

			&:focus{
				box-shadow: inset 0px -2px 0px 0px $orange !important;
			}
			&:-webkit-autofill{
				transition: background-color 999999s ease-in-out 0s;

				-webkit-text-fill-color: #1b1b1b !important;
			}
		}
	}

	.card-auth-btn{
		margin-top: 20px;
		position: absolute;
		width: 96.5%;
	}
}

.img-brand{
	margin-bottom: 50px;
	margin-top: 80px;
	width: 380px;
}

.label-float{
	left: 15px;
	margin-top: 13px;
	position: absolute;

	font-family: $fontmain;

	@include transition(0.3s ease);

	&.lift{
		margin-top: -10px;

		font-size: 0.5rem;

		@include transition(0.3s ease);
	}
}

.navbar-laravel{
	display: none;
}

.paddless{
	padding: 0 !important;
}

@media(max-width: 767px){
	.img-brand{
		width: 75vw;
	}
}