@import 'variables';
@import 'mixins';

// Customized Bootstrap Elements
@import 'btn';
@import 'toggle';

.dropdown{
	.dropdown-menu{
		.dropdown-item{
			&:active{
				background: #f6993f !important;
			}
		}
	}
}

.form-control{
	&:focus{
		border-color: #f6993f6e !important;
		box-shadow: 0 0 0 0.2rem rgba(246, 153, 63, 0.3) !important;
	}
}

.select2-container .select2-selection--single{
	height: auto !important;
}

.select2-container--default{
	.select2-results__option--highlighted[aria-selected]{
		background: #f6993f !important;
	}

	.select2-search__field{
		&:focus{
			outline: none !important;
		}
	}

	.select2-selection--single{
		border: 1px solid #ced4da !important;

		&:focus{
			outline: none !important;
		}

		.select2-selection__arrow{
			height: 38px !important;
			right: 5px !important;
		}

		.select2-selection__rendered{
			padding: 5px 12px !important;

			color: #495057 !important;
		}
	}

	.select2-selection--multiple{
		border: 1px solid #ced4da !important;

		.select2-selection__choice{
			background: #f6993f !important;
			border: 1px solid #f6993f !important;
			color: #FFFFFF !important;

			.select2-selection__choice__remove{
				margin-right: 5px !important;

				color: #FFFFFF !important;
			}
		}
	}
}

::selection{
	background: $orange;
	color: #FFFFFF;
}
::-moz-selection{
	background: $orange;
	color: #FFFFFF;
}

@media (min-width: 768px){
	#main-navbar{
		padding: 0px;

		.navbar-brand{
			padding: 1.15rem 0rem;

			img{
				height: 30px;
				margin-left: 20px;
			}
		}

		#top-nav ul li.nav-item a.nav-link{
			padding: 1.5rem;

			color: rgba(0, 0, 0, 0.5);
			font-size: 0.75rem;
			font-weight: 300;
			text-transform: uppercase;

			@include transition(0.3s ease);

			&:not([data-toggle="dropdown"]):not(.active):hover{
				color: rgba(0, 0, 0, 1);

				@include transition(0.3s ease);
			}

			&.active{
				box-shadow: inset 0px -5px 0px 0px $orange;
				color: rgba(0, 0, 0, 1);
				font-weight: 700;

				@include transition(0.3s ease);
			}
		}
	}
}

@media (max-width: 767px){
	#main-navbar{
		.navbar-brand{
			left: calc(50% - 22.5vw);
			position: relative;

			img{
				width: 45vw;
			}
		}
	}
}