@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700|Ubuntu:300,400,700|Montserrat:300,400,700|Raleway:300,400,700|Nova+Square");

.has-error .select2-selection {
    border-color: rgb(185, 74, 72) !important;
}

.select2-container--default .select2-results__option[aria-disabled=true] {
    display: none;
}

.select2-container {
    width: 100% !important;
}

.content-wrapper {
    min-height: 90vh !important;
}

table {
    width: 100% !important;
}

span.status{
	margin: 0px 5px;
	padding: 2.5px 10px;

	box-shadow: 2px 2px 2px 0px rgba(100, 100, 100, 0.1);
	font-family: "Ubuntu", sans-serif;
	font-size: 1.1rem;
	text-transform: uppercase;
}
	span.status.status-primary{
		background: #e3f5ff;
		border-left: 3px solid #1371bb;
		color: #1371bb;
	}
	span.status.status-danger{
		background: #ffe3e3;
		border-left: 3px solid #bb1313;
		color: #bb1313;
	}
	span.status.status-warning{
		background: #fffce3;
		border-left: 3px solid #ada111;
		color: #ada111;
	}
	span.status.status-success{
		background: #dbffea;
		border-left: 3px solid #11c39c;
		color: #11c39c;
	}
	span.status.status-info{
		background: #f3dbff;
		border-left: 3px solid #c011c3;
		color: #c011c3;
	}
	span.status.status-default{
		background: #efefef;
		border-left: 3px solid #ababab;
		color: #ababab;
	}
	span.status.status-dark{
		background: #e4e4e4;
		border-left: 3px solid #545454;
		color: #545454;
	}

.swal2-popup.swal2-modal.swal2-show{
	transform: scale(1.5, 1.5);
}

.dataTables_wrapper .dataTables_paginate .paginate_button{
	padding: 0px;
}